@CHARSET "ISO-8859-1";

form{
  font-size: 16pt;
  font-family: arial;
  color: wheat;
}

body{
  background-image: url("http://i.ytimg.com/vi/svTVRDgI08Y/maxresdefault.jpg");
 }
table, th, td {
     border: 1px solid black;
     background-color:  #66ccff
       
}
th, td {
    text-align: center;
    border: 1px solid #dddddd;
    padding: 8px;
}
th{
  font-family: Century Gothic;
  font-size: 20pt;
}
td{
  font-family: Georgia;
  font-size: 14pt;
}